<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        {% block stylesheets %} {{ encore_entry_link_tags("app") }}{% endblock %}
    </head>
    <body class="container">
        
             {% block nav %}
            {% include "menu.html.twig" %}
        {% endblock %}

        {% for type, messages in app.flashes %}
            <div class="alert alert-{{ type }}">
                {% for msg in messages %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endfor %}
        {% block body %}
        
                     <h1>Le Petit Coin</h1>
                <div>
                    <h2>Liste par Catégorie : {{ liste_categories|length }}</h2>
                    {% if liste_categories|length %}                        
                        <div class="card-columns">
                            {# afficher la liste des categories #}
                            {% for categorie in liste_categories %}
                                {% include "annonce/vignette.html.twig" with { "categorie": categorie } %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="alert alert-warning">Aucune Categorie, ne correspond à votre recherche</div>
                    {% endif %}
                            
                </div>
        
        
        
        
        {% endblock %}
        
        {% block javascripts %}
            {{ encore_entry_script_tags("app") }}
        {% endblock %}
         
    </body>
</html>
